@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-131921: #131921;
    --color-blue: #68a4ca;
    --color-purple: #9d4edd;
}

.App {
    text-align: center;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--color-131921);
}

a {
    text-decoration: none;
    display: inline-block;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 20px;
    color: var(--color-131921);
}

h4{
    padding: 12px;
    font-size: 1.8rem;
}

.form-control:focus {
    box-shadow: none;
    border-color: inherit;
}

/* Header Part */


.header-upper {
    background-color: var(--color-blue);
}


/* Header Part Ends */


/* Assets Tracker Part */

.chart .title{
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    margin-left: auto;
    margin-right: auto;
}

.form {
    left: 0;
    right: 0;
    top: 40%;
    margin-left: auto;
    margin-right: auto;
}

.form-input {
    @apply mt-1 block w-full py-2 px-3 border border-gray-200 bg-white rounded-md focus:outline-none focus:ring-indigo-500 sm:text-sm;
}

/* Assets Tracker Part Ends */